blobscan-api:
  annotations:
    keel.sh/policy: "force"
    keel.sh/match-tag: "true"
    keel.sh/approvals: "0"

  podLabels:
    environment: staging

  externalConfigMaps:
    - "blobscan"

  fullnameOverride: "blobscan-api"
  config:
    CHAIN_ID: "1"
    NETWORK_NAME: "mainnet"
    BLOBSCAN_API_BASE_URL: "https://api.staging.blobscan.com"
    # BLOBSCAN_API_BASE: "api.staging.blobscan.com"
    # BLOBSCAN_API_PORT  # TODO remove, unused
    POSTGRES_STORAGE_ENABLED: "false"
    SWARM_STORAGE_ENABLED: "true"
    SWARM_BATCH_ID: "f073102432c648fd9720e3856ffdbca6d7f595fda52f50bfc3043d1e55e78b5b"
    SWARM_CHUNKSTORM_ENABLED: "true"
    SWARM_CHUNKSTORM_URL: "http://chunkstorm:3050"
    GOOGLE_STORAGE_ENABLED: "true"
    GOOGLE_STORAGE_BUCKET_NAME: blobscan-staging
    GOOGLE_STORAGE_PROJECT_ID: blobscan-379218
    BEE_ENDPOINT: "http://bee-1.swarm.svc.cluster.local:1633"
    METRICS_ENABLED: "true"
    LOG_LEVEL: debug
    # NODE_ENV: "production"
    ETH_PRICE_SYNCER_ENABLED: "true"
    ETH_PRICE_SYNCER_TIME_TOLERANCE: "100"
    # TODO: in web too?
    BLOB_DATA_API_ENABLED: "false"

  extraEnv:
    - name: BLOB_PROPAGATOR_COMPLETED_JOBS_AGE
      value: "1"

  bullmqExporter:
    enabled: true
    databaseMapping: "0:staging"
    image:
      pullPolicy: "Always"
    service:
      annotations:
        k8s.grafana.com/scrape: "true"
    serviceMonitor:
      enabled: true
      relabelings:
        - action: replace
          replacement: staging
          targetLabel: environment

  chunkstorm:
    stamperstorePersistentVolume:
      storageClassName: "do-block-storage-retain"

  serviceMonitor:
    enabled: true
    relabelings:
      - action: replace
        replacement: staging
        targetLabel: environment

  image:
    tag: development
    pullPolicy: "Always"

  ingress:
    enabled: true
    className: nginx-pp
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-dns-gcp
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      # service.beta.kubernetes.io/do-loadbalancer-name: api.staging.blobscan.com

    hosts:
      - host: "api.staging.blobscan.com"
        paths:
        - path: "/"
          pathType: Prefix
    tls:
      - secretName: api-staging-blobscan-tls
        hosts:
          - "api.staging.blobscan.com"

  resources:
    limits:
      cpu: 2
      memory: 1Gi

    requests:
      cpu: 100m
      memory: 512Mi

blobscan-indexer:
  annotations:
    keel.sh/policy: "force"
    keel.sh/match-tag: "true"
    keel.sh/approvals: "0"

  podLabels:
    environment: staging

  fullnameOverride: "blobscan-indexer"
  config:
    BLOBSCAN_API_ENDPOINT: "http://blobscan-api:3001"
    RUST_LOG: "blob_indexer=INFO"

  image:
    tag: latest
    pullPolicy: "Always"

blobscan-web:
  replicas: 2
  annotations:
    keel.sh/policy: "force"
    keel.sh/match-tag: "true"
    keel.sh/approvals: "0"
  podLabels:
    environment: staging
  fullnameOverride: "blobscan-web"
  config:
    NETWORK_NAME: "mainnet"
    BLOBSCAN_API_BASE_URL: "https://api.staging.blobscan.com"
    BLOBSCAN_API_PORT: 443
    POSTGRES_STORAGE_ENABLED: "false"
    SWARM_STORAGE_ENABLED: "true"
    GOOGLE_STORAGE_BUCKET_NAME: blobscan-staging
    METRICS_ENABLED: "true"
    LOG_LEVEL: debug
    BEE_ENDPOINT: "http://bee-0.swarm.svc.cluster.local:1633"
  extraEnv:
    - name: PUBLIC_POSTHOG_ID
      value: "phc_n7WONIedZmpeWUlvgQq2KW3p59g6Au8JDTRVciqpcWl"
    - name: PUBLIC_POSTHOG_HOST
      value: "https://us.i.posthog.com"
    - name: SENTRY_ORG
      value: "blossom-labs"
    - name: SENTRY_PROJECT
      value: "blobscan-web"
    - name: SENTRY_IGNORE_API_RESOLUTION_ERROR
      value: "1"
# TODO: review:
#   - name: PUBLIC_SENTRY_DSN_WEB
#     value: ""

  image:
    tag: development
    pullPolicy: "Always"

  ingress:
    enabled: true
    className: nginx-pp
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-dns-gcp
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      # service.beta.kubernetes.io/do-loadbalancer-name: staging.blobscan.com
    hosts:
      - host: "staging.blobscan.com"
        paths:
        - path: "/"
          pathType: Prefix
    tls:
      - secretName: staging-blobscan-tls
        hosts:
          - "staging.blobscan.com"

  resources:
    limits:
      cpu: 2
      memory: 512Mi

    requests:
      cpu: 100m
      memory: 128Mi


blobscandb:
  enabled: false

redis:
  enabled: true
  global:
    defaultStorageClass: "do-block-storage-retain"

  metrics:
    enabled: true
    serviceMonitor:
      # TODO: enable
      enabled: false

  master:
    persistence:
      enabled: true
      storageClass: "do-block-storage-retain"
      accessModes:
        - ReadWriteOnce
      size: 20Gi
    resources:
      limits:
        cpu: 150m
        memory: 2Gi
        ephemeral-storage: 2Gi

      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 50Mi
