export TF_VAR_github_ref=next
export TF_VAR_chain_id=1
export TF_VAR_explorer_url=https://etherscan.io 
export TF_VAR_beacon_url=https://beaconcha.in/
export TF_VAR_network=mainnet
export TF_VAR_database_size=db-s-1vcpu-2gb
export TF_VAR_database_url=postgres://user:pwd@host:5432/database?sslmode=require
export TF_VAR_secret_key=CHANGE_ME_TO_A_RANDOM_STRING
export TF_VAR_discord_webhook_url=https://discord.com/api/webhooks/...
export TF_VAR_domain=blobscan.com
export TF_VAR_env=prod
export TF_VAR_bee_endpoint=http://swarm_node:1633
export TF_VAR_bee_debug_endpoint=http://swarm_node:1635
export TF_VAR_gcs_bucket=...
export TF_VAR_google_service_key=...
