project_name         = "blobscan-123456"
gcp_credentials_path = "/path/to/blobscan-123456-0f827ce37f8b.json"
region               = "us-central1"
zone                 = "us-central1-a"
ssh_username         = "username"
ssh_pub_key_path     = "/path/to/ssh/key.pub"
do_token             = "12345678901234567890"
do_region            = "nyc3"
vm_size              = "e2-small"
vercel_team_id       = "team_abcdefghijklm"
vercel_token         = "OPQRSTUVWXYZ"
