blobscan:
  vars:
    apps:
      - blobscan
      - blobscan-indexer.rs
  children:
    staging:
      hosts:
        blobscan-staging-01:
          env: staging
    prod:
      hosts:
        blobscan-prod:
          env: prod

swarm:
  children:
    swarm-01:
      hosts:
        blobscan-swarm:
          env: prod
