blobscan:
  vars:
    apps:
      - blobscan
      - blobscan-indexer.rs
  children:
    staging:
      vars:
        env: staging
      children:
        staging_goerli:
          vars:
            network_name: goerli
          hosts:
            blobscan-staging:

    production:
      vars:
        env: prod
      children:
        prod_mainnet:
          vars:
            network_name: mainnet
          hosts:
            blobscan-mainnet:

        prod_holesky:
          vars:
            network_name: holesky
          hosts:
            blobscan-holesky:

        prod_sepolia:
          vars:
            network_name: sepolia
          hosts:
            blobscan-sepolia:

        prod_goerli:
          vars:
            network_name: goerli
          hosts:
            blobscan-goerli:

swarm:
  vars:
    env: prod
  hosts:
    blobscan-swarm:

ethereum_nodes:
  vars:
    env: prod
  children:
    mainnet:
      vars:
        network: mainnet
      children:
        mainnet_nodes:
          hosts:
            ethereum-mainnet:
          vars:
            clients:
              execution: nethermind
              consensus: lighthouse
    sepolia:
      vars:
        network: sepolia
      children:
        sepolia_nodes:
          hosts:
            ethereum-sepolia:
          vars:
            clients:
              execution: nethermind
              consensus: lighthouse
    holesky:
      vars:
        network: holesky
      children:
        holesky_nodes:
          hosts:
            ethereum-holesky:
          vars:
            clients:
              # XXX: nethermind+lighthouse combination didn't sync for holesky
              execution: geth
              consensus: lighthouse
    goerli:
      vars:
        network: goerli
      children:
        goerli_nodes:
          hosts:
            ethereum-goerli:
          vars:
            clients:
              execution: nethermind
              consensus: lighthouse
