blobscan:
  vars:
    apps:
      - blobscan
      - blobscan-indexer.rs
  children:
    blobscan_staging:
    blobscan_production:

blobscan_staging:
  hosts:
    blobscan-staging:
  vars:
    env: staging
    network: goerli

blobscan_production:
  vars:
    env: prod
  children:
    mainnet:
    holesky:
    sepolia:
    goerli:
    gnosis:

mainnet:
  vars:
    network: mainnet
  hosts:
    blobscan-mainnet:

holesky:
  vars:
    network: holesky
  hosts:
    blobscan-holesky:

sepolia:
  vars:
    network: sepolia
  hosts:
    blobscan-sepolia:

goerli:
  vars:
    network: goerli
  hosts:
    blobscan-goerli:

gnosis:
  vars:
    network: gnosis
  hosts:
    blobscan-gnosis:

swarm:
  vars:
    env: prod
  hosts:
    blobscan-swarm:

ethereum_nodes:
  children:
    mainnet_nodes:
    sepolia_nodes:
    holesky_nodes:
    goerli_nodes:

mainnet_nodes:
  hosts:
    ethereum-mainnet:
  vars:
    network: mainnet
    env: prod
    clients:
      execution: nethermind
      consensus: lighthouse

sepolia_nodes:
  hosts:
    ethereum-sepolia:
  vars:
    network: sepolia
    clients:
      execution: nethermind
      consensus: lighthouse

holesky_nodes:
  hosts:
    ethereum-holesky:
  vars:
    network: holesky
    env: prod
    clients:
      # XXX: nethermind+lighthouse combination didn't sync for holesky
      execution: geth
      consensus: lighthouse

goerli_nodes:
  hosts:
    ethereum-goerli:
  vars:
    network: goerli
    env: prod
    clients:
      execution: nethermind
      consensus: lodestar


ethereum_nodes_pandaops:
  vars:
    env: prod
  children:
    gnosis_nodes:
      vars:
        network: gnosis
      hosts:
        ethereum-gnosis:
