---
- hosts: swarm
  become: yes
  become_user: root

  vars_files:
    - roles/swarm_monitoring/vars/vault.yml

  vars:
    bee_config:
      swap-endpoint: https://rpc.gnosischain.com/
      #swap-endpoint: https://gno.getblock.io/<API-KEY>/mainnet/
      swap-initial-deposit: 0
      cors-allowed-origins: '*'
      db-open-files-limit: 2000
      debug-api-enable: true
      full-node: true

  roles:
    - role: common
    - role: geerlingguy.docker
      vars:
        docker_package_state: present
        docker_install_compose_plugin: true
    - role: ethersphere.bee
    - role: swarm_monitoring
