---
- hosts: blobscan
  become: yes
  become_user: root

  vars_files:
    - roles/blobscan/defaults/main.yml
    - roles/blobscan/vars/main.yml
    - roles/blobscan/vars/vault.yml
    - roles/blobscan/vars/{{ network }}.yml
    - inventory/{{ env }}/group_vars/all.yml
    - inventory/{{ env }}/group_vars/{{ network }}.yml
    - inventory/{{ env }}/group_vars/vault_{{ network }}.yml

  tasks:
    - name: Copy .env files
      template:
        src: ./roles/blobscan/templates/{{ item }}-env.j2
        dest: /home/deploy/{{ item }}/.env
        owner: deploy
      loop: "{{ apps }}"

    - name: Restart api container
      community.docker.docker_compose:
        project_src: /home/deploy/blobscan

    - name: Restart indexer container
      community.docker.docker_compose:
        project_src: /home/deploy/blobscan-indexer.rs
        pull: true
