COMPOSE_FILE=docker-compose.api.yml
# &connection_limit=1
DATABASE_URL={{ database_url }}
DATABASE_DIRECT_URL={{ database_direct_url }}

NODE_ENV=production

REDIS_URI={{ redis_uri }}

SECRET_KEY="{{ secret_key }}"

CHAIN_ID={{ chain_id }}
LOG_LEVEL=debug

BEE_ENDPOINT={{ bee_endpoint }}

NETWORK_NAME={{ network }}
NEXT_PUBLIC_NETWORK_NAME={{ network }}
NEXT_PUBLIC_EXPLORER_BASE_URL={{ explorer_base_url }}
NEXT_PUBLIC_BEACON_BASE_URL={{ beacon_base_url }}

BLOBSCAN_WEB_TAG={{ blobscan_tag }}
BLOBSCAN_API_TAG={{ blobscan_tag }}

### rest api server
EXTERNAL_WEB_PORT={{ external_web_port }}
BLOBSCAN_API_PORT={{ blobscan_api_port }}
EXTERNAL_API_PORT={{ external_api_port }}
BLOBSCAN_API_BASE_URL=https://api.{{ domain }}

POSTGRES_STORAGE_ENABLED={{ postgres_storage_enabled }}
SWARM_STORAGE_ENABLED={{ swarm_storage_enabled }}
{% if swarm_storage_enabled|bool %}
SWARM_BATCH_ID={{ swarm_batch_id }}
{% endif %}
GOOGLE_STORAGE_ENABLED={{ google_storage_enabled }}
GOOGLE_STORAGE_BUCKET_NAME={{ gcs_bucket_name }}
GOOGLE_STORAGE_PROJECT_ID={{ google_project_id }}
GOOGLE_SERVICE_KEY={{ google_service_key }}
SENTRY_DSN_API={{ sentry_dsn_api }}

BLOB_PROPAGATOR_ENABLED=true

#### blobscan indexer

BLOBSCAN_API_ENDPOINT={{ blobscan_api_endpoint }}
BEACON_NODE_ENDPOINT={{ beacon_node_endpoint }}
EXECUTION_NODE_ENDPOINT={{ execution_node_endpoint }}
SENTRY_DSN_INDEXER={{ sentry_dsn_indexer }}
RUST_LOG={{ indexer_log }}

### telemetry

METRICS_ENABLED={{ metrics_enabled }}
TRACES_ENABLED={{ traces_enabled }}

OTLP_AUTH_USERNAME={{ otlp_auth_username }}
OTLP_AUTH_PASSWORD={{ otlp_auth_password }}

OTEL_EXPORTER_OTLP_PROTOCOL={{ otlp_protocol }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ otlp_url }}

### posthog

POSTHOG_ID={{ posthog_id }}
POSTHOG_HOST={{ posthog_host }}
