INDEXER_TAG={{ indexer_tag }}

NETWORK_NAME={{ network }}
SECRET_KEY="{{ secret_key }}"

BLOBSCAN_API_ENDPOINT={{ blobscan_api_endpoint }}
BEACON_NODE_ENDPOINT={{ beacon_node_endpoint }}
EXECUTION_NODE_ENDPOINT={{ execution_node_endpoint }}
SENTRY_DSN={{ sentry_dsn_indexer }}

RUST_LOG=blob_indexer=INFO
