server {

    listen 443 ssl; # managed by Certbot
    server_name api.{{ domain }} {{ extra_goerli_domain|default('') }};

    access_log /var/log/nginx/blobscan-api_access.log;
    error_log /var/log/nginx/blobscan-api_error.log;

    location / {
        proxy_pass {{ blobscan_api_endpoint }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_cache_bypass $http_upgrade;
    }

    include /etc/nginx/snippets/letsencrypt-api.{{ domain }}.conf;
}

server {
    listen 80;

    if ($host = api.{{ domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    {% if extra_goerli_domain is defined %}
    if ($host = {{ extra_goerli_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot
    {% endif %}

    server_name api.{{ domain }} {{ extra_goerli_domain|default('') }};
    return 404; # managed by Certbot
}
